@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    button[type="submit"] {
        background-color: theme('colors.purple.DEFAULT');
        transition: background-color 0.5s;
        width: 100%;
    }

    button[type="submit"]:hover {
        background-color: theme('colors.purple.dark');
    }
}

@font-face {
    font-family: 'Russo One';
    src: url('../js/Pages/assets/fonts/Russo_One/RussoOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Slabo 13px';
    src: url('../js/Pages/assets/fonts/Slabo_13px/Slabo13px-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
        font-family: 'Slabo 13px', serif;
      
    }
    
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Russo One', sans-serif;
  }
  
  